
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /countries/{id} { allow read, write: if true; }
    match /parameters/{id} { allow read, write: if true; }
    match /models/{id} { allow read, write: if true; }
    match /scales/{id} { allow read, write: if true; }
    match /ratings/{id} { allow read, write: if true; }
    match /factSheets/{id} { allow read, write: if true; }
  }
}
